<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Feuerwehr ShotsDuell{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/bar.css') }}" rel="stylesheet"/>
        {% endblock stylesheets %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('js/jquery-3.6.0.min.js')}}"></script>
            <script src="{{ asset('js/jquery-ui.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-4.4.1.min.js') }}"></script> 
            <script src="{{ asset('js/all.js')}}"></script>
        {% endblock %}
    </head>
    <body>
<body style="background-color: #000">
<div id="wrapper">
    <div id="bars_container">
     {% for team in teams %}
        <div id="glass_container" href="{{ path('increase_shot', {id: team.id}) }}">
        <div>
            <div class="glass_header" id="score_team_{{ team.id }}">{{team.shotsCount}}</div>
            <div id="scoreHeight_team_{{ team.id }}" class="glass_middle" style="background-color: {{ team.color}}"></div>
            <div class="glass_name">{{ team.teamName|raw }}</div>
            </div>
        </div>
     {% endfor %}
    </div>
  </div>
</div>
  <div id="buttons">
    <a class="btn btn-info" href="{{ path('chart_view') }}">Statistik zeigen</a>
    <a class="btn btn-info" href="{{ path('new_team') }}">Teams verwalten</a>
  </div>

<script>

</script>
</body>
</html>
