{# templates/mainPage.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Feuerwehr ShotsDuell{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="bars_container">
     {% for team in teams %}
        <div id="glass_container" href="{{ path('increase_shot', {id: team.id}) }}">
        <div>
            <div class="glass_header" id="score_team_{{ team.id }}">{{team.shotsCount}}</div>
            <div class="glass_top"></div>
            <div id="scoreHeight_team_{{ team.id }}" class="glass_middle" style="height: {{ team.shotsCount|genHeight() }}px; background-color: {{ team.color}}"></div>
            <div class="glass_bottom"></div>
            <div class="glass_name">{{ team.teamName|raw }}</div>
            </div>
        </div>
     {% endfor %}
    </div>
    <div id="left">
      <a href="{{ path('chart_view') }}">
        <img src="images/snoop.gif">
      </a>
    </div>
    <div id="right">
      <a href="{{ path('new_team') }}">
        <img src="{{ asset('images/feuerwehrman_dabb.png') }}" height="300">
      </a>
    </div>
</div>

<script>

</script>
{% endblock %}